@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #006948;
  --color-secondary: #006c4e;
  --color-tertiary: #555c6e;
  --color-background: #f8f9fa;
  --color-surface: #f8f9fa;
  --color-surface-dim: #d9dadb;
  --color-surface-bright: #f8f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-on-background: #191c1d;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #3d4a42;
  --color-outline: #6d7a72;
  --color-outline-variant: #bccac0;
  
  --color-secondary-container: #97f5cc;
  --color-on-secondary-container: #007353;
  --color-primary-container: #00855d;
  --color-on-primary-container: #f5fff7;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --font-sans: var(--font-inter);
  --font-display: var(--font-manrope);
  
  --radius-xl: 1.5rem; /* 24px */
  --radius-lg: 1rem;   /* 16px */
  --radius-md: 0.75rem; /* 12px */
  --radius-sm: 0.25rem; /* 4px */

  --animate-shake: shake 0.4s cubic-bezier(.36, .07, .19, .97) both;

  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }
}

/* Material Icons Link */

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}
